@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Normal/Geometria.woff2') format('woff2'),
        url('../fonts/Normal/Geometria.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Medium/Geometria-Medium.woff2') format('woff2'),
        url('../fonts/Medium/Geometria-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
}

.header_wrapper {
    padding: 43px 0;
    background: transparent;
    z-index: 1000;
    position: relative;
    align-items: center;
}

.header_nav {
    align-items: center;
}

.header_nav ul {
    display: flex;
    column-gap: 54px;
    z-index: 1000;
}

.header_nav ul>li>a {
    z-index: 1000;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fefefe;
    font-weight: 500;
    font-family: "Geometria";
}

.wrapper {
    max-width: 1400px;
    display: flex;
    margin: 0 auto;
}

.logo {
    width: 166px;
    height: 22px;
    padding-right: 170px;
}

.left hr {
    width: 3px;
    height: 126px;
    background-color: #00ccff;
    border: none;
}

.ad {
    padding-top: 290px;
}

.left {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    max-width: 750px;
    column-gap: 25px;
    z-index: 999;
}

.main-text {
    padding-left: 25px;
    position: absolute;
    top: 385px;
    max-width: 720px;
    font-size: 70px;
    line-height: 74px;
    color: #1a1a1a;
    font-weight: 500;
    font-family: 'Geometria';
}

.left span {
    font-size: 35px;
    line-height: 91px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Geometria";
    -webkit-text-stroke-color: #0099ff;
    -webkit-text-stroke-width: 1px;
}

.right {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.macbook {
    z-index: 5000;
    position: absolute;
    right: 156px;
    top: 142px;
}

.header_nav ul>li>a {
    position: relative;
}

.header_nav ul>li>a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 0%;
    height: 2px;
    background-color: #fefefe;
    transition: all .5s ease;
}

.header_nav ul>li>a::before {
    bottom: -1px;
}

.header_nav ul>li:hover>a::before {
    width: 100%;
}

.icons_ul {
    display: flex;
    column-gap: 39px;
    max-width: 169px;
}

.icons ul li>a {
    display: block;
    background: url(../img/Sprite.png) no-repeat;
}

.fb a::before {
    background-position: -1px -2px;
    width: 11px;
    height: 21px;
}

.tw a:before {
    width: 24px;
    height: 19px;
    background-position: -14px -2px;
}

.inst a:before {
    background-position: -40px -2px;
    width: 19px;
    height: 20px;
}

.in a:before {
    background-position: -62px 0;
    width: 21px;
    height: 21px;
}

.fb:hover>a::before {
    background-position: -1px -23px;
    width: 11px;
    height: 21px;
}

.tw:hover>a:before {
    width: 24px;
    height: 19px;
    background-position: -14px -23px;
}

.inst:hover>a:before {
    background-position: -40px -23px;
    width: 19px;
    height: 20px;
}

.in:hover>a:before {
    background-position: -62px -23px;
    width: 21px;
    height: 21px;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.icon {
    display: block;
    position: relative;
}

.icon:before {
    content: "";
    position: absolute;
    display: inline-block;
    background: url(../img/Sprite.png) no-repeat;
    top: 50%;
    transform: translateY(-50%);
    left: -21px;
    transition: all .4s ease;
}

.subtext {
    padding-top: 32px;
    font-size: 18px;
    line-height: 26px;
    color: #2b2b2b;
    font-family: "Geometria";
}

.buttons a {
    padding: 12px 64px;
    max-height: 53px;
    border-radius: 26px;
    background-color: #0099ff;
}