@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Normal/Geometria.woff2') format('woff2'),
        url('../fonts/Normal/Geometria.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Medium/Geometria-Medium.woff2') format('woff2'),
        url('../fonts/Medium/Geometria-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

html {
    font-size: 0.8px;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.hidden {
    overflow: hidden;
}

.header {
    position: relative;
}

.header .bg {
    display: block;
    position: absolute;
    background: url(../img/Bg.svg) no-repeat center/cover;
}

.bg1 {
    width: 90vw;
    height: 75vw;
    right: -13%;
    top: -33%;
}

.bg2 {
    width: 80vw;
    height: 62vw;
    right: -20%;
    top: -30%;
}

.bg3 {
    width: 60vw;
    height: 50vw;
    right: -17%;
    top: -45%;
}

.main .bg-blue {
    display: block;
    position: absolute;
    background: url(../img/bg2.svg) no-repeat center/cover;
}

.main {
    position: relative;
}

.main-bg-blue1,
.main-bg-blue2 {
    background: url(../img/bg2.svg) no-repeat center/95%;
    display: block;
    position: absolute;
    width: 40vw;
    height: 42vw;
    left: -150px;
    top: 20px;
}

.main-bg-blue2 {
    background-size: 72%;
}

.main-block-ring {
    min-height: 90vh;
}

.flex {
    display: flex;
}

.header_wrapper {
    padding: 43rem 0;
    background: transparent;
    z-index: 1000;
    position: relative;
    align-items: center;
}

.header_nav {
    align-items: center;
}

.header_nav ul {
    display: flex;
    column-gap: 54rem;
    z-index: 1000;
}

.header_nav ul>li>a {
    z-index: 1000;
    font-size: 13rem;
    letter-spacing: 1rem;
    text-transform: uppercase;
    color: #fefefe;
    font-weight: 500;
    font-family: "Geometria";
}

.wrapper {
    width: 85%;
    /* max-width: 1400rem; */
    margin: 0 auto;
}

.logo {
    width: 166rem;
    height: 22rem;
}

.main-text {
    width: 45vw;
    padding-left: 25rem;
    font-size: 70rem;
    line-height: 74rem;
    color: #1a1a1a;
    font-weight: 500;
    font-family: 'Geometria';
}

.subtext,
.main-text {
    position: relative;
}

.subtext {
    width: 43vw;
}

.macbook img {
    transform: translateY(-15%);
}

.main-text::before,
.main-text-1::before,
.main-text-2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3rem;
    height: 100%;
    background-color: #00ccff;
}

.left span {
    font-size: 35rem;
    line-height: 91rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Geometria";
    -webkit-text-stroke-color: #0099ff;
    -webkit-text-stroke-width: 1rem;
}

.macbook {
    z-index: 5000;
}

.header_nav ul>li>a {
    position: relative;
}

.header_nav ul>li>a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 5rem;
    width: 0%;
    height: 2rem;
    background-color: #fefefe;
    transition: all .5s ease;
}

.header_nav ul>li>a::before {
    bottom: -1rem;
}

.header_nav ul>li:hover>a::before {
    width: 100%;
}

.icons_ul {
    display: flex;
    column-gap: 39rem;
    max-width: 169rem;
}

.icons ul li>a {
    display: block;
    background: url(../img/Sprite.png) no-repeat;
}

.fb a::before {
    background-position: -1px -2px;
    width: 11px;
    height: 21px;
}

.tw a:before {
    width: 24px;
    height: 19px;
    background-position: -14px -2px;
}

.inst a:before {
    background-position: -40px -2px;
    width: 19px;
    height: 20px;
}

.in a:before {
    background-position: -62px 0;
    width: 21px;
    height: 21px;
}

.fb:hover>a::before {
    background-position: -1px -23px;
    width: 11px;
    height: 21px;
}

.tw:hover>a:before {
    width: 24px;
    height: 19px;
    background-position: -14px -23px;
}

.inst:hover>a:before {
    background-position: -40px -23px;
    width: 19px;
    height: 20px;
}

.in:hover>a:before {
    background-position: -62px -23px;
    width: 21px;
    height: 21px;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.icon {
    display: block;
    position: relative;
}

.icon:before {
    content: "";
    position: absolute;
    display: inline-block;
    background: url(../img/Sprite.png) no-repeat;
    top: 50%;
    transform: translateY(-50%);
    left: -21px;
    transition: all .4s ease;
}

.subtext {
    padding-top: 32rem;
    font-size: 18rem;
    line-height: 26rem;
    color: #2b2b2b;
    font-family: "Geometria";
}

.buttons a {
    padding: 12rem 64rem;
    max-height: 53rem;
    border-radius: 26rem;
}

.buttons {
    padding-top: 46rem;
    column-gap: 20rem;
}

.but1 {
    border: 2rem solid #0099ff;
    margin-right: 20rem;
    font-size: 14rem;
    letter-spacing: 1rem;
    line-height: 85rem;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-family: "Geometria";
    background-color: #0099ff;
    transition: all .4s ease;
}

.but1:hover {
    border: 2rem solid #0099ff;
    color: #000;
    background-color: #fff;
}

.but2 {
    background-color: #fff;
    border: 2rem solid #0099ff;
    font-size: 14rem;
    letter-spacing: 1rem;
    line-height: 85rem;
    text-transform: uppercase;
    color: #2b2b2b;
    font-weight: bold;
    font-family: "Geometria";
    transition: all .4s ease;
}

.but2:hover {
    background-color: #0099ff;
    color: #fff;
}

.ring {
    top: 110px;
    left: -25px;
    position: absolute;
}

.main-text-1 {
    padding-left: 24rem;
    position: absolute;
    max-width: 800rem;
    font-size: 70rem;
    line-height: 74rem;
    color: #1a1a1a;
    font-weight: 500;
    font-family: "Geometria";
}

.subtext-1 {
    display: block;
    width: 43vw;
    font-size: 18rem;
    line-height: 26rem;
    color: #2b2b2b;
    font-family: "Geometria";
    position: relative;
}

.grid_column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.ad {
    padding: 150rem 0;
}

.right1 {
    padding-top: 170px;
    display: block;
    right: -30%;
    position: absolute;
}

.subtext-1,
.main-text-1 {
    position: relative;
}

.subtext-1 {
    max-width: 33vw;
}

.subtext-1 {
    padding-top: 32rem;
    font-size: 18rem;
    line-height: 26rem;
    color: #2b2b2b;
    font-family: "Geometria";
}

.right-1_button {
    padding: 12rem 44rem;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 85px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-family: "Geometria";
    background-color: #000;
    color: #fff;
    height: 53rem;
    border-radius: 26rem;
    width: 242px;
    background-color: #0099ff;
    transition: all .4s ease;
    border: solid 2px #0099ff;
}

.right-1_button:hover {
    color: #000;
    border: solid 2px #0099ff;
    background-color: #fff;
}

.main-text-2 {
    padding-left: 24px;
    position: relative;
    font-size: 70rem;
    line-height: 74rem;
    color: #1a1a1a;
    font-weight: 500;
    font-family: 'Geometria';
}

.advantages {
    padding-top: 242px;
    max-width: 1447px;
}

.text {
    max-width: 635px;
}

.name {
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 85px;
    text-transform: uppercase;
    color: #0099ff;
    font-weight: bold;
    font-family: "Geometria";
}

.subname {
    width: 688px;
    height: 69px;
    font-size: 18px;
    line-height: 26px;
    color: #2b2b2b;
    font-family: "Geometria";
}

.text {
    position: relative;
}

.advantages .bg_white {
    display: block;
    position: absolute;
    background: url(../img/bg3.svg);
}

.bg_white1 {
    width: 90vw;
    height: 75vw;
    right: -20%;
    top: 0;
}