@font-face {
    font-family: 'Geometria';
    src: url('Geometria-Medium.woff2') format('woff2'),
        url('Geometria-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

